/* --------------------- */
/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  width: 2px;
  background: #e8e3d2;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 1);
}

html {
  scroll-behavior: smooth;
}

/* --------------------- */
/* Loading Spinner */

.spinner_0XTQ {
  transform-origin: center;
  animation: spinner_y6GP 0.75s linear infinite;
}

@keyframes spinner_y6GP {
  100% {
    transform: rotate(360deg);
  }
}

body * {
  font-family: "__Roboto_Serif_f3cccc";
}
